### IPythonNotebook ###
# Temporary data
iPython Notebooks/.ipynb_checkpoints/

### caffe ###
*.caffemodel
*.prototxt

### numpy weights ###
*.npy

### keras weights ###
*.hdf5

### pycharm ###
.idea/

*.iml
